.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 20vh;
  background-color: rgb(24, 15, 24);
}

.heart {
  display: inline-block;
  color: var(--purple);
  animation: move 1.5s infinite;
  font-size: 16px;
}

.collaboration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.header {
  font-size: 15px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  margin-bottom: 30px;
}

.collabHeader {
  font-size: 30px;
}

.button {
  padding: 5px;
  background-color: var(--purple);
  border-radius: 2px;
}

@keyframes move {
  0% {
    transform: translateY(-5px);
    transform: scale(1.2);
  }

  100% {
    transform: translateY(0px);
    transform: scale(1);
  }
}
