.container {
  margin: 150px auto;
  width: 90vw;
}

.header {
  font-size: 50px;
}

.line {
  width: 10vw;
  height: 5px;
  background-color: white;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
